.navbar {
    font-family: 'Bebas Neue', cursive;
    background: $background-color !important;
}

.navbar-nav {
    text-align: center;
    .nav-item {
        width: 150px;
        .nav-link {
            font-weight: bold;
            font-size: 1.5em;
            margin: 0 auto;
            &:hover {
                background: rgba(231, 87, 15, 0.548);
                padding: 10px;
            }
        }
    }
}