$icon-color: rgb(231, 87, 15);
$background-color: #1b111d;
$breakpoint-nav: 991px;
$breakpoint-hero: 880px;
$breakpoint-contact: 768px;
$breakpoint-medium: 750px;
$breakpoint-mediumsmall: 630px;
$breakpoint-small: 576px;
$breakpoint-smaller: 550px;
$breakpoint-smallest: 420px;